<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body><br>
    <form method="POST"><br>
        <h1>Login</h1><br><br>
        <table > 
            <tr>
                <td><input type="text" placeholder="UserName" class="fill" required></td>
            </tr>
            <br>
            <tr>
                <td><input type="password" placeholder="Password" class="fill" required></td>
            </tr>
        </table>
        <br>
        <button>Login</button>
        <br><br>
        <p style="text-align: center; 
        font-family: 'Crimson Text', serif; color: white;" > <label> Don't Have an Account?</label> <a routerLink="/register" style="color: darkblue;"> Register Here</a></p>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>