<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><br>
    <div id="left">
        <h1>Contact Us</h1><br>
        <p>
            Grand CAG Central, 787,<br> 
            Avinashi Road, Nava India Rd,<br> 
            Peelamedu, Coimbatore, <br>
            Tamil Nadu 641004<br>
        </p>
        <p>Phone Number : 9898767656,9876545678</p><br>
        <img [src]="fb" width="40px" height="30px" >
        <img [src]="insta" width="30px" height="30px">
        <img [src]="you" width="30px" height="30px">
        <img [src]="twitter" width="30px" height="30px">
    </div>
    <div id="right">
        <form><br>
            <h1>GENERAL QUERIES</h1><br>
            <table >
                <tr>
                    <td><textarea rows="2" placeholder="Enter Your Name" class="fill" required></textarea></td>
                </tr><br>
                <tr>
                    <td><textarea rows="2" placeholder="Enter Your Valid Mail Id" class="fill" required></textarea></td>
                </tr><br>
                <tr>
                    <td><textarea rows="2" placeholder="Enter Your Phone Number(optional)" class="fill" ></textarea></td>
                </tr><br>
                <tr>
                    <td><textarea rows="2"  class="fill" placeholder="Enter Your Title" required></textarea></td>
                </tr>    <br>   
                <tr>
                    <td ><textarea rows="9" placeholder="Enter Your Comment" class="fill"  required></textarea></td>
                </tr><br>
            </table>
            <button>Submit</button><br><br><br>
        </form>
    </div>


    <div class="footer">
		<div class="container">
			<div class="row" >
				<div class="footer-col-1">
					<h3>Download Our App</h3>
					<p>Download App For Android and IOS Mobile Phone</p>		
					<div class="app-logo">
						<img [src]="appstore">
						<img [src]="playstore">
					</div>			
				</div>
				<div class="footer-col-2">
					<img [src]="logo" width="125px">
					<p>Our brands are loved by customers all over the world. But we never take that for granted; we know that every day we have to earn their trust—by serving them completely and adding real value to their lives through products and experiences.</p>
				</div>
				<div class="footer-col-3">
					<h3>Useful Links</h3>
					<ul>
						<li>Coupons</li>
						<li>Blog Post</li>
						<li>Return Policy</li>
						<li>Join Affiliate</li>
					</ul>		
				</div>
				<div class="footer-col-4">
					<h3>Follow Us</h3>
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Instagram</li>
						<li>Youtube</li>
					</ul>		
				</div>
			</div>		
			<hr style="background-color: black; margin: 0px 0px 0px 0px; width: 100%;">
			<p style="background-color: black; margin: 0px 0px 0px 0px; width: 100%;"class="copyright">@Copyright 2021 - BlueStores</p>	
		</div>		
	</div>

</body>
</html>