body{
    background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);


}
textarea{
    resize: none;
    width: 100%;
}
#left{
position: absolute;
margin-top: 10%;
margin-left: 10%;
width: 40%;
}
#right{
    
/* position: absolute; */
margin-top: 5%;
margin-left: 55%;
width: 30%;

}
#left img{
    margin-left: 30px;
}
td{
    width: 100%;
}
table{
    width: 100%;
}
form{
    width: 100%;
}
button{
    background: #0092cc;
    border-radius: 30px;
    padding: 5px 5px;
    margin-left: 40%;
}