<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div class="logo">
        <img [src]="logo" width="125px">
    </div>
    <nav>
        <ul id="MenuItems">
            <li><a href="/home">Home</a></li>
            <li><a href="/products">Products & Offers</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <img [src]="purchase" width="40px" height="40px"> 
    <img [src]="menu" class="menu-icon" width="40px" height="40px" onclick="menutoggle()">
     -->
    <div class="header">
        <div class="container">
        <div class="navbar">
            <div class="logo">
                <img [src]="logo" width="125px"><p>It's Your Departmental Stores!!!</p>
            </div>
            <nav>
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/products">Our Products</a></li>
                    <li><a routerLink="/register">Register</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                </ul>
            </nav>
            <img [src]="purchase" width="40px" height="40px"> 
        </div>
      </div>
      </div>
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <router-outlet></router-outlet>
</body>
</html>