<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
		<div class="col-2">
			<div style="margin-left: 7%;"><img [src]="image1"></div>
		</div>
        <div class="col-2" >
            <div style="margin-left: 5%;">
			<h1 >Discover The Best <br> Quality Things Here!!!</h1><br>
			<p>People don’t buy what you do, they buy why you do it.</p><br>
            <p style="font-weight: bold;">Departmental Stores for You. </p>
			<a href="/products" class="btn">Explore Now &#8594;</a>
            </div>
		</div>			
	</div>	
    <div class="categories">
		<div class="small-container">
		<div class="row">
			<div class="col-3">
				<img [src]="vegetables">
			</div>
			<div class="col-3">
				<img [src]="snacks">				
			</div>			
			<div class="col-3">
				<img [src]="fruits">				
			</div>
		</div>
	   </div>	
	</div>

    <div class="brands">
		<div class="small-container">
			<div class="row">
				<div class="col-5">
					<img [src]="saffola">
				</div>
				<div class="col-5">
					<img [src]="milky">
				</div>
				<div class="col-5">
					<img [src]="fair">
				</div>
				<div class="col-5">
					<img [src]="pampers">
				</div>
				<div class="col-5">
					<img [src]="colgate">
				</div>				
			</div>			
		</div>		
	</div>

    <div class="footer">
		<div class="container">
			<div class="row" >
				<div class="footer-col-1">
					<h3>Download Our App</h3>
					<p>Download App For Android and IOS Mobile Phone</p>		
					<div class="app-logo">
						<img [src]="appstore">
						<img [src]="playstore">
					</div>			
				</div>
				<div class="footer-col-2">
					<img [src]="logo" width="125px">
					<p>Our brands are loved by customers all over the world. But we never take that for granted; we know that every day we have to earn their trust—by serving them completely and adding real value to their lives through products and experiences.</p>
				</div>
				<div class="footer-col-3">
					<h3>Useful Links</h3>
					<ul>
						<li>Coupons</li>
						<li>Blog Post</li>
						<li>Return Policy</li>
						<li>Join Affiliate</li>
					</ul>		
				</div>
				<div class="footer-col-4">
					<h3>Follow Us</h3>
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Instagram</li>
						<li>Youtube</li>
					</ul>		
				</div>
			</div>		
			<hr style="background-color: black; margin: 0px 0px 0px 0px; width: 100%;">
			<p style="background-color: black; margin: 0px 0px 0px 0px; width: 100%;"class="copyright">@Copyright 2021 - BlueStores</p>	
		</div>		
	</div>
</body>
</html>